body {
    font-family: 'Open Sans Condensed';
    padding: 20px 80px;
}

a { /*to remove the underline and set color black on the headers*/
    text-decoration: none;
    color: black;
}

* { /*Universal sizing, applies to all scss*/
    box-sizing: border-box;
}